{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add links to CSS files here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href = "{%url 'portfolio_list'%}">Portfolio</a>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Content unique to each page will go here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Portfolio Site</p>
    </footer>
    <!-- Add links to JavaScript files here -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>